<app-header></app-header>
<div class="context">
    <h1>Android Application Developement</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-align description">
            <h1>Android Application Developement</h1>
            <h6>Android software development is the process by which applications are created for devices running the Android operating system. Here in TerraceDesk we offer an outstanding android app developement service. Our developement team will listen to your request and will provide an appropriate appplication as an output.</h6>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 advantages">
            <h1>Advantages of Android Application:-</h1>
            <ul>
                <li>High ROI With Lower Costs</li>
                <li>Faster Deployment</li>
                <li>Target Multiple Platforms</li>
                <li>Enhanced Security </li>
                <li>Versatility And Scalability</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>