<app-header></app-header>
<div class="context">
    <h1>Customised Web design</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align description">
            <h1>2D Game Design</h1>
            <h6>2D games are the games which move in the x and y direction of the screen. Rendering of these games are easy and can run on devices with low specs. Game developement of 2D games are more easy to build.</h6>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 advantages">
            <h1>Advantages of Customised Website:-</h1>
            <ul>
                <li>Simple controls</li>
                <li>Easy in making</li>
                <li>Simple instructions </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>