<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar1">
    <a class="navbar-brand" href="#"> <img src="assets/images/terracedesklogo_transparent_BG.png" class="logo" ></a>
    <button class="navbar-toggler toggle" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"><i class="uil uil-angle-down"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav unlist">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item dropdown dropdown-animate">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="drop" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="webdev">Web Developement</a>
            <a class="dropdown-item" href="#">SEM</a>
            <a class="dropdown-item" href="appdev">App Developement</a>
            <a class="dropdown-item" href="gamedev">Game Developement</a>
            <a class="dropdown-item" href="#">Social media Marketing</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="quote">Get a Quote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contact">Contacts</a>
        </li>
      </ul>
    </div>
  </nav>
</div>