<div class="container-fluid hero-image">
    <div class="row media-label-row"> 
        <div class="col-sm-12 align-center">
            <h3>Checkus on Social Media</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 align-center">
            <a href="#link" class="btn" role="button"><i class="uil uil-instagram-alt social-icon"></i></a>
            <a href="#link" class="btn" role="button"><i class="uil uil-facebook social-icon"></i></a>
            <a href="#link" class="btn" role="button"><i class="uil uil-whatsapp-alt social-icon"></i></a>
            <a href="#link" class="btn" role="button"><i class="uil uil-twitter social-icon"></i></a>
            <a href="#link" class="btn" role="button"><i class="uil uil-linkedin social-icon"></i></a>
        </div>
    </div>
    <div class="row contact-row-label"> 
        <div class="col-sm-12 align-center">
            <h2>You're only one step father from creating your website. Call us +917598686212</h2>
        </div>
    </div>
    <div class="row "> 
        <div class="col-lg-2 .col-xl-4"></div>
        <div class="col-12 col-sm-12 col-lg-4 .col-xl-2 button-row">
            <a href="quote" class="btn button-custom" role="button">Get a Free Quote
                <span></span><span></span><span></span><span></span>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 .col-xl-2 button-row">
            <a href="contact" class="btn button-custom" role="button">Contact us
                <span></span><span></span><span></span><span></span>
            </a>
        </div>
        <div class="col-lg-1 .col-xl-5"></div>
    </div>
</div>