<app-header></app-header>
<div class="context">
    <h1>Static Web design</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align description">
            <h1>Static Web Design</h1>
        <h6>Static website can be easy to create to present your product and services in online for the customers. If your bussiness do not involve product change static website is your best option. And Here in TerraceDesk we provide static wesites with outstanding designes. 
            In TerraceDesk we listen to our customers and get their requirements. Then we start to building static website according to the customer’s requirement. We assure that TerraceDesk wont stop designing till we get the customer satisfication for our designs.</h6>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 advantages">
            <h1>Advantages of Static Website:-</h1>
            <ul>
                <li>Easy design and development</li>
                <li>cost-effective</li>
                <li>Easy navigation</li>
                <li>Easy communication</li>
                <li>User friendly Interface</li>
                <li>Website loads faster</li>
                <li>Templates with HD images</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img src="/assets/images/clipart/why.jpg" alt="" class="why-img">
        </div>
        <div class="col-sm-6 why">
            <h1>Why Static Web Design? </h1>
        <h6>
            Static webstites are increadibly powerful for startups and for small scale bussiness.
            <br>
            <br>
            Static Sites are super fast due to the lack of database calls and dynamic content generation.
            <br>
            <br>
            In comparison to dynamic and e-commerce websites, static websites are less expensive to create.
        </h6>
        </div>
    </div>
</div>
<app-footer></app-footer>