<app-header></app-header>
<div class="context">
    <h1>Customised Web design</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align description">
            <h1>3D Game Design</h1>
            <h6>3D Games move in space and our realistic environment makes you enter in to a new experience of gaming. 3d games are much more encouraging and make invole into our games.</h6>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 advantages">
            <h1>Advantages of Customised Website:-</h1>
            <ul>
                <li>High quality of graphics</li>
                <li>Versatility</li>
                <li>More engaging</li>
                <li>More realistic environment</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>