<app-header></app-header>
<div class="container-fluid">
    <div class="row topic">
        <div class="col-sm-8">
            <div class="container" style="margin-top: 5vh;">
                <div class="container">
                    <h4 class="wordCarousel">
                        <span>Get Your own</span>
                        <div>
                            <!-- Use classes 2,3, or 4 to match the number of words -->
                            <ul class="flip4">
                                <li>Static Website</li>
                                <li>Dynamic Website</li>
                                <li>Custom Website</li>
                                <li>Mobile Website</li>
                                <li>Ecommerce Website</li>
                            </ul>
                        </div>
                    </h4>
                </div>
            <div class="container col-align">
                <h5>Hire a app developer now!!</h5>
            <a href="quote" class="btn button-custom" role="button" style="width: 25%;">Contact Us
                <span></span><span></span><span></span><span></span>
              </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/BGimages/deviceinfo.jpg" alt="">
        </div>
    </div>
    <div class="row appdev">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align">
            <h1>Web Development</h1>
            <h6>Web development refers to the building, creating, and maintaining of websites. It includes aspects such as web design, web publishing, web programming, and database management. It is the creation of an application that works over the internet i.e. websites.</h6>
                <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="row webdev-bg">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                        <button class="container static-web" onclick="location.href='staticwebdesign';">
                            <h1>Static Website</h1>
                            
                        </button>
                    
                </div>
                <div class="col-sm-6">
                    <button class="container dynamic-web" onclick="location.href='dynamicwebdesign';">
                        <h1>Dynamic Website</h1>
                        
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="container custom-web" onclick="location.href='customwebdesign';">
                        <h1>Customized Website</h1>
                        
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button class="container mobile-web" onclick="location.href='mobileresponsivewebdesign';">
                        <h1>Mobile Responsive</h1>
                        
                    </button>
                </div>
                <div class="col-sm-6">
                    <button class="container ecommerce-web">
                        <h1>E-commerce Website</h1>
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row discuss-row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Discuss Your Ideas</h1>
                            <p>We are here to help. Ring us a bell and our support team will get back to you and make your ideas become reality.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="quote" class="btn button-custom" role="button">Get a Free Quote
                              <span></span><span></span><span></span><span></span>
                            </a>        
                        </div>
                        <div class="col-sm-6">
                            <a href="portfolio" class="btn button-custom" role="button">view portfolio
                              <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 5vh;">
            <div class="row our-templates">
                <div class="col-sm-6">
                    <h1>Our <br> Templates</h1>
                        <p>Check out our exclusive Templates which can tailored to fit your ideas.</p>
                        <a href="portfolio" class="btn button-custom" role="button">view portfolio
                          <span></span><span></span><span></span><span></span>
                        </a>
                </div>
                <div class="col-sm-6">
                    <img src="https://graphiters.com/wp-content/uploads/2020/04/Graphiters-Portfolio.png" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<app-footer></app-footer>