<app-header></app-header>
<div class="container-fluid">
    <div class="row topic">
        <div class="col-sm-8">
            <div class="container" style="margin-top: 5vh;">
                <div class="glitch" data-text="Get your own game now!!">Get your own game now!!</div>
            <div class="glow">Get your own game now!!</div>
            <div class="container col-align">
                <h5>Hire a app developer now!!</h5>
            <a href="quote" class="btn button-custom" role="button" style="width: 25%;">Contact Us
                <span></span><span></span><span></span><span></span>
              </a>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/BGimages/deviceinfo.jpg" alt="">
        </div>
    </div>
    <div class="row appdev">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align">
            <h1>Game Development</h1>
            <h6>Game Development is the art of creating games and describes the design, development and release of a game. It may involve concept generation, design, build, test and release. While you create a game, it is important to think about the game mechanics, rewards, player engagement and level design.

                A game developer could be a programmer, a sound designer, an artist, a designer or many other roles available in the industry.</h6>
                <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="row webdev-bg">
        <div class="col-sm-4 col-align">
            <button class="container game-button" onclick="location.href='2Dgamedev';">
                <img src="/assets/images/icons/2d.png" alt="">
                <h1>2D Game Developement</h1>
            </button>
            <button class="container game-button" onclick="location.href='3Dgamedev';">
                <img src="/assets/images/icons/3d.png" alt="">
                <h1>3D Game Developement</h1>
            </button>
        </div>
        <div class="col-sm-4 col-align">
            <img src="/assets/images/Monitor.png" alt="" class="monitor">
        </div>
        <div class="col-sm-4 col-align">
            <button class="container game-button" onclick="location.href='unitygamedev';">
                <img src="/assets/images/icons/unity.png" alt="">
                <h1>Unity Game Developement</h1>
            </button>
            <button class="container game-button" onclick="location.href='androidgame';">
                <img src="/assets/images/icons/game_dev.png" alt="">
                <h1>Android Game Developement</h1>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row discuss-row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Discuss Your Ideas</h1>
                            <p>We are here to help. Ring us a bell and our support team will get back to you and make your ideas become reality.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="quote" class="btn button-custom" role="button">Get a Free Quote
                              <span></span><span></span><span></span><span></span>
                            </a>        
                        </div>
                        <div class="col-sm-6">
                            <a href="portfolio" class="btn button-custom" role="button">view portfolio
                              <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 5vh;">
            <div class="row our-templates">
                <div class="col-sm-6">
                    <h1>Our <br> Templates</h1>
                        <p>Check out our exclusive Templates which can tailored to fit your ideas.</p>
                        <a href="portfolio" class="btn button-custom" role="button">view portfolio
                          <span></span><span></span><span></span><span></span>
                        </a>
                </div>
                <div class="col-sm-6">
                    <img src="https://graphiters.com/wp-content/uploads/2020/04/Graphiters-Portfolio.png" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<app-footer></app-footer>