<app-header></app-header>
<div class="container-fluid">
    <div class="row topic">
        <div class="col-sm-7 col-align">
            <div class="wrapper">
                <div class="typing-demo">
                    Do You need an app?
                </div>   
            </div>
            <h5>Hire a app developer now!!</h5>
            <a href="quote" class="btn button-custom" role="button">Contact Us
                <span></span><span></span><span></span><span></span>
              </a>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <img src="/assets/images/BGimages/deviceinfo.jpg" alt="">
        </div>
    </div>
    <div class="row appdev">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align">
            <h1>App Development</h1>
            <h6>App Development refers to the creation of computer applications for use on mobile devices such as tablets, smartphones and smart watches. Mobile device features such as cameras, motion and location awareness can be used to create unique and inventive mobile-only applications for things such as taxi and bike sharing.

                Mobile devices typically have popular apps for searching, browsing and social media preinstalled and users can download and install additional apps from Google Play (Android) and the Apple App Store (iOS). Mobile applications are designed and built for different operating systems and developers will want to learn how to build for both the Android operating system and Apple’s iOS.</h6>
                <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="row webdev-bg">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-align services">
                    <h1>Our Services</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-1"></div>
        <div class="col-sm-5 col-align">
            <button class="container game-button" onclick="location.href='webapp';">
                <img src="/assets/images/icons/webapp.png" alt="">
                <h1>Webapp Developement</h1>
            </button>
        </div>
        <div class="col-sm-5 col-align">
            <button class="container game-button" onclick="location.href='androidapp';">
                <img src="/assets/images/icons/app_dev.png" alt="">
                <h1>Android App Developement</h1>
            </button>
        </div>
        <div class="col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="row discuss-row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>Discuss Your Ideas</h1>
                            <p>We are here to help. Ring us a bell and our support team will get back to you and make your ideas become reality.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a href="quote" class="btn button-custom" role="button">Get a Free Quote
                              <span></span><span></span><span></span><span></span>
                            </a>        
                        </div>
                        <div class="col-sm-6">
                            <a href="portfolio" class="btn button-custom" role="button">view portfolio
                              <span></span><span></span><span></span><span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="margin-top: 5vh;">
            <div class="row our-templates">
                <div class="col-sm-6">
                    <h1>Our <br> Templates</h1>
                        <p>Check out our exclusive Templates which can tailored to fit your ideas.</p>
                        <a href="portfolio" class="btn button-custom" role="button">view portfolio
                          <span></span><span></span><span></span><span></span>
                        </a>
                </div>
                <div class="col-sm-6">
                    <img src="https://graphiters.com/wp-content/uploads/2020/04/Graphiters-Portfolio.png" style="width: 100%; height: 100%;">
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<app-footer></app-footer>
