<app-header></app-header>
<div class="container-fluid center-align">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12 col-xl-12">
            <h2>Get In Touch with US</h2>
            <p>Please express your vision in detail. The more we know about your vision the better our support team can give a walk through. Our support Team will contact you either by mail or any other mode of communication based on the information provided by the you in the form.</p>
        </div>
    </div>
    <div class="row bg">
        <div class="col-sm-1 col-lg-2 col-xl-2"></div>
        <div class="col-sm-10 col-lg-8 col-xl-8 form-custom">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Send us the the form and our Support team will contact you</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="phone" placeholder="Phone">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <textarea type="text" class="form-control" rows="8" id="comment" placeholder="Comments"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <a href="contact" class="btn button-custom" role="button">Send
                        <span></span><span></span><span></span><span></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<app-footer></app-footer>