<app-header></app-header>
<div class="container-fluid" style="text-align: center;">
    <div class="row heading">
        <div class="col-sm-12">
            <h1>Our Portfolio</h1>
        </div>
    </div>
    <div class="row paragraph">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
         <div class="row">
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
         </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
         <div class="row">
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
         </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
         <div class="row">
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
             <div class="col-sm-6">
                <div class="container">
                    <a href="#link" class="btn" role="button">
                    <img src="https://image.freepik.com/free-vector/open-modern-laptop-with-blank-screen-isolated-white_90220-159.jpg" alt="Avatar" class="image"><a href="#link" class="btn" role="button">
                        <div class="overlay">
                          <div class="text">Hello World</div>
                        </div>
                        </a>
                    </a>
                  </div>
             </div>
         </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>
<app-footer></app-footer>