<app-header></app-header>
<div class="context">
    <h1>Customised Web design</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 col-align description">
            <h1>Customised Web Design</h1>
            <h6>Customised web designing is a tailor-made website development for your business. Here in TerraceDesk you can hire a experienced web developer who is specialised in displaying your ideas over the website. It is customised in a manner so that it stays unique.</h6>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 advantages">
            <h1>Advantages of Customised Website:-</h1>
            <ul>
                <li>Website is customised to fit your brand/services which you provide.</li>
                <li>Contents are optimised in a way that engage your audience.</li>
                <li>Contents with appropriae keywords for your bussiness.</li>
                <li>User friendly Interface. </li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>