<app-header></app-header>
<div class="context">
    <h1>Mobile Responsive Web design</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-align description">
            <h1>Mobile Responsive Web Design</h1>
            <h6>Mobile responsive website changes the attributes of its layout to fit the display screen of mobile device. We in TerraceDesk provide an outstanding mobile responsive websites for your Tablets and smartphone.</h6>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 advantages">
            <h1>Advantages of Customised Website:-</h1>
            <ul>
                <li>It is cost effective</li>
                <li>It is simple yet powerful.</li>
                <li>Easy maintance</li>
                <li>low bounce rates </li>
                <li>Generally target mobile users</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>