<app-header></app-header>
<div class="context">
    <h1>Web Application Developement</h1>
</div>


<div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
        </ul>
</div >
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 col-align description">
            <h1>Web Application Developement</h1>
            <h6>Web app is software application which performs a tasks in web browsers through internet. It is used to concentrate a wide range of audience since it breaks the storage and hardware requirement barriers.</h6>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row" style="background-color: rgba(128, 128, 128, 0.5);">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 advantages">
            <h1>Advantages of Customised Website:-</h1>
            <ul>
                <li>It is a crossplatform application</li>
                <li>Same version for all users</li>
                <li>It eliminates the storage requirement</li>
                <li>Cost effective </li>
                <li>Eliminates piracy</li>
            </ul>
        </div>
    </div>
</div>
<app-footer></app-footer>